.details{
    margin: 10rem 0 0 2rem;
}

.carte-biere {
    max-width: 400px;
  }
  
.entete-image-biere {
background-image: url('https://picsum.photos/350/200');
background-size: cover;
}

.biere-description{
    width: 360px;
}