 <article class="details">

    <h1>Modifier cette bière</h1>
    <mat-card class="carte-biere" [formGroup]="modifForm">
        <mat-card-header>
          <div mat-card-avatar class="entete-image-biere">
          </div>
            <mat-card-title>
                <p>Nom : 
                    <input formControlName="nom" [(ngModel)]="biere.nom">
                </p>
            </mat-card-title>
          <mat-card-subtitle>
            <p>Brasserie : 
                <input formControlName="brasserie">
            </p>
        </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://picsum.photos/750/600" alt="Photo d'une biere">
        <mat-card-content>
            <p>
                Description : 
                <textarea class="biere-description" formControlName="description" >
                </textarea>
            </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="modifier()" [disabled]="!modifForm.dirty || !modifForm.valid">Modifier</button>
          <button mat-button (click)="annuler()" [disabled]="!modifForm.dirty">Annuler</button>
        </mat-card-actions>
    </mat-card>

      
</article>