<article class="content">

    <h1>Bienvenue sur Biero - Admin !</h1>
    <p>Nous sommes ravis de vous accueillir ici. Ce site a été créé pour vous aider à gérer toutes les tâches liées à l'administration de vos bières.</p>
    <br>
    <p>Avec Angular Material.io, notre site est à la fois élégant et facile à utiliser. Vous pouvez naviguer facilement grâce à notre interface intuitive et trouver toutes les informations dont vous aurez besoin en un rien de temps.</p>
    <br>
    <p>Nous espérons que vous apprécierez l'utilisation de notre site et que vous trouverez tout ce dont vous avez besoin pour gérer efficacement vos bières.</p>



    <div class="btn-container">
        <a mat-button routerLink="produit" color="accent" routerLinkActive="estActif" class="btn-ajouter">Liste des produits</a>

    </div>

    <div class="information">
        <p>Veuillez vous connecter pour pouvoir accéder à toute les fonctionnalités du site</p>
    </div>

</article>
